<!--
 * @Design Team: Yellow Group
 * @Team Members: Bishop David, Hyde Christopher
 * @Class: CST-235 Computer Programming III
 * @Instructor: Mark Smithers
 
 * @About: login.xhtml is used to let users login to access secure aspects of the page.
 * @Last Updated: November 27, 2018
 
 * @Change Log
 	- 11/27/28 Chris Hyde: Created the basic frame for the login page.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/layouts/projectLayout.xhtml">
		<ui:define name="content">
			<center>
				<h3>Login</h3>
			
			<h:form>
				<h:outputText style= "font-size: 8pt">Please fill in both fields before hitting submit.</h:outputText>
				<br/>
				<h:panelGrid columns="3">
					<h:outputLabel for="userName">User Name:</h:outputLabel>
					<h:inputText value="#{login.userName}" id="userName"/>
					<br/>
					<br/>
					
					<h:outputLabel for="password">Password:</h:outputLabel>
					<h:inputText value="#{login.password}" id="password"/>
					<br/>
					<br/>
					
					<h:commandButton action="#{navCtrl.onLogin(login)}" value="Login" />
					<h:commandButton action="#{navCtrl.viewHome()}" value="Back Home" />
				</h:panelGrid>
			</h:form>
			<h:messages />
			</center>
		</ui:define>
	
	</ui:composition>

</body> 
</html>
