<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
	<ui:composition template="/layouts/projectLayout.xhtml">
		<ui:define name="content">
				<h3>Register</h3>
			
			<h:form>
				<center>
					<h:outputText style= "font-size: 8pt">Please fill in the text fields below.</h:outputText>
					<br/>
				
					<h:panelGrid columns = "2"  border = "1" cellpadding = "10" cellspacing = "1">
						
						<h:outputLabel for="userName">User Name:</h:outputLabel>
						<h:inputText value="#{user.userName}" id="userName"/>

						
						<h:outputLabel for="password">Password:</h:outputLabel>
						<h:inputText value="#{user.password}" id="password"/>
						
						<h:outputLabel for="firstName">First Name:</h:outputLabel>
						<h:inputText value="#{user.firstName}" id="firstName"/>
						
						<h:outputLabel for="lastName">Last Name:</h:outputLabel>
						<h:inputText value="#{user.lastName}" id="lastName"/>
						
						<h:outputLabel for="email">E-mail:</h:outputLabel>
						<h:inputText value="#{user.email}" id="email"/>
						
						<h:outputLabel for="phoneNumber">Phone Number:</h:outputLabel>
						<h:inputText value="#{user.phoneNumber}" id="phoneNumber"/>
						
					</h:panelGrid>
					
					<!-- TODO: Change register button action to register controller -->
					<h:commandButton action="#{navCtrl.onRegister(user)}" value="Register" />
					<h:commandButton action="#{navCtrl.viewHome()}" value="Back" />
				</center>
			</h:form>
			<h:messages />
		</ui:define>
	</ui:composition>
</body> 
</html>
