<!--
 * @Design Team: Yellow Group
 * @Team Members: Bishop David, Hyde Christopher
 * @Class: CST-235 Computer Programming III
 * @Instructor: Mark Smithers
 
 * @About: projectLayout.xhtml is used as a template for the project.
 * @Last Updated: November 27, 2018
 
 * @Change Log
 	- 11/27/28 Chris Hyde: Created the basic layout template for the project.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library="css" name="projectStyle.css" />
</h:head> 
<body> 
	<!-- Project Template Layout -->
	<div id="page">
		<!-- Header Layout -->
		<div id="header">
			<ui:insert name="header">
				<ui:include src="/layouts/projectHeader.xhtml"/>
			</ui:insert>
		</div>
		<!-- Content Layout -->
		<div id="content">
			<ui:insert name="content">
				<ui:include src="/layouts/projectContent.xhtml" />
			</ui:insert>
		</div>
		<!-- Footer Layout -->
		<div id="footer">
			<ui:insert name="footer">
				<ui:include src="/layouts/projectFooter.xhtml" />
			</ui:insert>
		</div>

	</div>
</body> 
</html>
