<!--
 * @Design Team: Yellow Group
 * @Team Members: Bishop David & Hyde Christopher
 * @Class: CST-235 Computer Programming III
 * @Instructor: Mark Smithers
 
 * @About: projectHeader.xhtml is used as part of the template for the project content.
 * @Last Updated: November 27, 2018
  
 * @Change Log
 	- 11/27/28 Chris Hyde: Created the basic content template for the project.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<body>
	<ui:composition>
		<div class="content">
			<div class="container">
				<div class="main">
				
				</div>
			</div>
		</div>
	</ui:composition>
</body>
</html>